DB_HOST=buzwdyz5iqgcj9toob1b-mysql.services.clever-cloud.com
DB_USER=uhtqndkr7kskzsgc
DB_PASSWORD=FuYm3jqM1iwngHPnIvhl
DB_NAME=buzwdyz5iqgcj9toob1b
DB_PORT=3306
PORT=3000


# Google Drive integration
GOOGLE_DRIVE_FOLDER_ID=your_google_drive_folder_id
# Option 1 (recommended in local): absolute or relative path to service account json
GOOGLE_APPLICATION_CREDENTIALS=./secrets/drive-service-account.json
# Option 2 (for CI/CD): full JSON content in one line
# GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account",...}
